## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
1,3,Vila Velha,BR,84.15,clear sky,-20.3297,-40.2925,Quality Suites Vila Velha
2,4,Krasnogorsk,RU,87.80,light intensity shower rain,55.8225,37.3181,"Hotel ""Academy"""
3,5,Nikolskoye,RU,82.29,clear sky,59.7035,30.7861,Tourist House - Sablino
4,9,Vimperk,CZ,76.28,few clouds,49.0586,13.7829,Hotel Zlatá Hvězda

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F + {Current Weather}</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [44]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Newport")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Newport")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Horsham")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Hastings")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Margate")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
299,683,Newport,GB,87.17,broken clouds,51.5877,-2.9984,ibis budget Newport

In [61]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start= vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]

stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]

stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [62]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_driving = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_driving)

fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2,vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,683,Newport,GB,87.17,broken clouds,51.5877,-2.9984,ibis budget Newport
1,683,Newport,GB,87.17,broken clouds,51.5877,-2.9984,ibis budget Newport
2,505,Horsham,GB,89.82,clear sky,51.0640,-0.3272,Springfields Hotel
3,197,Hastings,GB,88.54,clear sky,50.8552,0.5729,Zanzibar Hotel
4,484,Margate,GB,87.85,clear sky,51.3813,1.3862,Premier Inn Margate hotel

In [66]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F + {Current Weather}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(51.5877, -2.9984), zoom_level=7.0)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))